@model List<Construction_intranet.Models.SUbcontractorModel>

@{
    ViewBag.Title = "User";

}

<div class="panel">
    <header class="panel-heading">
        Sub-Contractors
        <a href="@Url.Action("CreateEdit", "SubContractor")" class="btn btn-xs btn-dark pull-right">[+] Create New</a>

    </header>
    
    <div class="panel-body">
        @Html.Partial("_InlineAlerts")

        <br />
        <div class="table-responsive">
            <table class="table table-bordered table-condensed m-b-none text-sm" id="challenger-datatable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Added on</th>
                       
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(model => item.Name)</td>
                                <td>@Html.DisplayFor(model => item.Email)</td>
                                <td>@Html.DisplayFor(model => item.Phone)</td>
                                <td>@Html.DisplayFor(model => item.Added)</td>
                                 <td class="text-left  fit-content">
                                    <a title="Edit" class="btn btn-xs btn-primary btn-circle glyphicon glyphicon-edit" href="@Url.Action("CreateEdit", "SubContractor", new { id = item.id })"></a>
                                    <a title="Delete" id="@item.id" class="btn btn-xs btn-danger btn-circle glyphicon glyphicon-trash delete-link" href="@Url.Action("Delete", "SubContractor")"></a>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
        <!-- table-responsive -->
    </div>
</div>
@section styles{
    <link href="~/Content/css/jquery.datatables.css" rel="stylesheet" />
}

@section breadcrumbs{
  <li><a href="/SubContractor/Index">Subcontractor</a></li>

<li class="active"><span>Index</span></li>
}

@section scripts{
    <script src="~/Scripts/jquery.datatables.min.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>

    <script>
        jQuery(document).ready(function () {
            $('#liS').addClass('active');


            $('#challenger-datatable').dataTable(
            {
                "sPaginationType": "full_numbers",
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [-1, -2, -3,-4,-5] }
                ]
            });

            // Chosen Select
            jQuery("select").chosen({
                'min-width': '100px',
                'white-space': 'nowrap',
                disable_search_threshold: 10
            });

            // Delete row in a table
            jQuery('.delete-row').click(function () {
                var c = confirm("Continue delete?");
                if (c)
                    jQuery(this).closest('tr').fadeOut(function () {
                        jQuery(this).remove();
                    });

                return false;
            });

            // Show aciton upon row hover
            jQuery('.table-hidaction tbody tr').hover(function () {
                jQuery(this).find('.table-action-hide a').animate({ opacity: 1 });
            }, function () {
                jQuery(this).find('.table-action-hide a').animate({ opacity: 0 });
            });


        });
    </script>
}


