<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title - Construction Pro Application</title>

    <link href="/content/css/style.default.css" rel="stylesheet">
    <link href="~/Content/css/custom-style-validation.css" rel="stylesheet" />
    <link href="~/Content/css/validationEngine.jquery.css" rel="stylesheet" />
    @RenderSection("styles",false)
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>

<body>

    <!-- Preloader -->
   

        <div class="mainpanel">

            
            <!-- headerbar -->

            

            <div class="contentpanel">
                <!-- content goes here... -->
                @RenderSection("featured", false)
                @RenderBody()


            </div>

        </div>
        <!-- mainpanel -->
        <div style="color: white; text-align: right; padding: 20px;">
            Developed by <a href="#" style="color: white;">Cappdeveloper.</a>
        </div>
  



    <script src="/scripts/jquery-1.10.2.min.js"></script>
    <script src="/scripts/jquery-migrate-1.2.1.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/modernizr.min.js"></script>
    <script src="/scripts/jquery.sparkline.min.js"></script>
    <script src="/scripts/toggles.min.js"></script>
    <script src="/scripts/retina.min.js"></script>
    <script src="/scripts/jquery.cookies.js"></script>

    <script src="~/Scripts/jquery.validationEngine-en.js"></script>
    <script src="~/Scripts/jquery.validationEngine.js"></script>


    <script src="/scripts/flot/flot.min.js"></script>
    <script src="/scripts/flot/flot.resize.min.js"></script>

    <script src="/scripts/custom.js"></script>
    <script src="~/Scripts/plugins/bootbox.min.js"></script>
    <script src="~/Scripts/Challenger/crud-operation.js"></script>
    
    <script src="~/Scripts/plugins/jquery.blockUI.js"></script>
    <script src="~/Scripts/Challenger/call_back_functions.js"></script>
    <script type="text/javascript">
        $(function () {
            // change message border 
            $.blockUI.defaults.css.border = '0px';
            //$.blockUI.defaults.css.backgroundColor = 'rgb(0,0,0)';
        })
    </script>
    @RenderSection("Scripts", false)

</body>
</html>



